.container{
	margin-top: 100px;
}
h1{
	text-align: center;
	font-size: 48px;
}
.url{
	text-align: center;
	align-content: center;	
}
.blockquote{
	margin-top: 50px;
	font-size: 14px;
	line-height: 200%;
}
p{
	font-size: 24px;
	line-height: 200%;
}